{{define "inboundInfoStream"}}
<p>Transmision: <a-tag color="green">[[ inbound.network ]]</a-tag></p>

<template v-if="inbound.isTcp || inbound.isWs || inbound.isH2">
    <p v-if="inbound.host">host: <a-tag color="green">[[ inbound.host ]]</a-tag></p>
    <p v-else>host: <a-tag color="orange">no</a-tag></p>

    <p v-if="inbound.path">path: <a-tag color="green">[[ inbound.path ]]</a-tag></p>
    <p v-else>path: <a-tag color="orange">no</a-tag></p>
</template>

<template v-if="inbound.isQuic">
    <p>quic Cifrado: <a-tag color="green">[[ inbound.quicSecurity ]]</a-tag></p>
    <p>quic Clave: <a-tag color="green">[[ inbound.quicKey ]]</a-tag></p>
    <p>quic Camuflaje: <a-tag color="green">[[ inbound.quicType ]]</a-tag></p>
</template>

<template v-if="inbound.isKcp">
    <p>kcp Cifrado: <a-tag color="green">[[ inbound.kcpType ]]</a-tag></p>
    <p>kcp Clave: <a-tag color="green">[[ inbound.kcpSeed ]]</a-tag></p>
</template>

<template v-if="inbound.isGrpc">
    <p>grpc serviceName: <a-tag color="green">[[ inbound.serviceName ]]</a-tag></p>
</template>

<template v-if="inbound.tls || inbound.xtls">
    <p v-if="inbound.tls">tls: <a-tag color="green">Habilitado</a-tag></p>
    <p v-if="inbound.xtls">xtls: <a-tag color="green">Habilitado</a-tag></p>
</template>
<template v-else>
    <p>tls: <a-tag color="red">Deshabilitado</a-tag></p>
</template>
<p v-if="inbound.tls">
    TLS Nombre del dominio: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : "" ]]</a-tag>
</p>
<p v-if="inbound.xtls">
    XTLS Nombre del dominio: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : "" ]]</a-tag>
</p>
{{end}}


{{define "component/inboundInfoComponent"}}
<div>
    <p>Protocolo: <a-tag color="green">[[ dbInbound.protocol ]]</a-tag></p>
    <p>Direccion: <a-tag color="blue">[[ dbInbound.address ]]</a-tag></p>
    <p>Puerto: <a-tag color="green">[[ dbInbound.port ]]</a-tag></p>

    <template v-if="dbInbound.isVMess">
        <p>UUID: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p>ALTERID: <a-tag color="green">[[ inbound.alterId ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isVLess">
        <p>UUID: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p v-if="inbound.isXTls">flow: <a-tag color="green">[[ inbound.flow ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isTrojan">
        <p>Clave: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isSS">
        <p>Cifrado: <a-tag color="green">[[ inbound.method ]]</a-tag></p>
        <p>Clave <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isSocks">
        <p>Nombre de usuario: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>Clave: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isHTTP">
        <p>Nombre de usuario: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>Clave: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS">
        {{template "inboundInfoStream"}}
    </template>
</div>
{{end}}

{{define "component/inboundInfo"}}
<script>
    Vue.component('inbound-info', {
        delimiters: ['[[', ']]'],
        props: ["dbInbound", "inbound"],
        template: `{{template "component/inboundInfoComponent"}}`,
    });
</script>
{{end}}