<!DOCTYPE html>
<html lang="en">
{{template "head" .}}
<style>
    @media (min-width: 769px) {
        .ant-layout-content {
            margin: 24px 16px;
        }
    }

    .ant-col-sm-24 {
        margin-top: 10px;
    }

    .ant-tabs-bar {
        margin: 0;
    }

    .ant-list-item {
        display: block;
    }

    .ant-tabs-top-bar {
        background: white;
    }
</style>
<body>
<a-layout id="app" v-cloak>
    {{ template "commonSider" . }}
    <a-layout id="content-layout">
        <a-layout-content>
            <a-spin :spinning="spinning" :delay="500" tip="loading">
                <a-space direction="vertical">
                    <a-space direction="horizontal">
                        <a-button type="primary" :disabled="saveBtnDisable" @click="updateAllSetting">Actualizar configuraciones</a-button>
                        <a-button type="danger" :disabled="!saveBtnDisable" @click="restartPanel">Reinicar Panel</a-button>
                    </a-space>
                    <a-tabs default-active-key="1">
                        <a-tab-pane key="1" tab="Configuracion del panel">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="IP de escucha del panel" desc="Dejar en blanco para escuchar en todas las interfaces de red" v-model="allSetting.webListen"></setting-list-item>
                                <setting-list-item type="number" title="Puerto de escucha del panel口" desc="Reinicar el panel para que surta efecto" v-model.number="allSetting.webPort"></setting-list-item>
                                <setting-list-item type="text" title="SSL: Clave publica" desc="Complete una ruta absoluta que comience con '/'. Reinicie el panel para que surta efecto" v-model="allSetting.webCertFile"></setting-list-item>
                                <setting-list-item type="text" title="SSL: Clave privada" desc="Complete una ruta absoluta que comience con '/'. Reinicie el panel para que surta efecto" v-model="allSetting.webKeyFile"></setting-list-item>
                                <setting-list-item type="text" title="URL: ruta raiz para el panel" desc="Debe comenzar con '/' y terminar con '/'. Reinicie el panel para que surta efecto" v-model="allSetting.webBasePath"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="2" tab="Ajuste de usuario">
                            <a-form style="background: white; padding: 20px">
                                <a-form-item label="Nombre de usuario actual">
                                    <a-input v-model="user.oldUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Contraseña actual">
                                    <a-input type="password" v-model="user.oldPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Nuevo nombre de usuario">
                                    <a-input v-model="user.newUsername" style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item label="Nueva Contraseña">
                                    <a-input type="password" v-model="user.newPassword"
                                             style="max-width: 300px"></a-input>
                                </a-form-item>
                                <a-form-item>
                                    <a-button type="primary" @click="updateUser">Actualizar</a-button>
                                </a-form-item>
                            </a-form>
                        </a-tab-pane>
                        <a-tab-pane key="3" tab="Configuraciones xray">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="textarea" title="Plantilla de configuracion de xray" desc="Genera el archivo de configuracion de  xray basado en esta plantilla. Reinicie el panel para que surta efecto" v-model="allSetting.xrayTemplateConfig"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                        <a-tab-pane key="4" tab="Otros ajustes">
                            <a-list item-layout="horizontal" style="background: white">
                                <setting-list-item type="text" title="Zona Horaria" desc="La tarea programada se ejecuta de acuerdo con la hora en la zona horaria. Reinicia el panel para que surta efecto" v-model="allSetting.timeLocation"></setting-list-item>
                            </a-list>
                        </a-tab-pane>
                    </a-tabs>
                </a-space>
            </a-spin>
        </a-layout-content>
    </a-layout>
</a-layout>
{{template "js" .}}
{{template "component/setting"}}
<script>

    const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            siderDrawer,
            spinning: false,
            oldAllSetting: new AllSetting(),
            allSetting: new AllSetting(),
            saveBtnDisable: true,
            user: {},
        },
        methods: {
            loading(spinning = true) {
                this.spinning = spinning;
            },
            async getAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/all");
                this.loading(false);
                if (msg.success) {
                    this.oldAllSetting = new AllSetting(msg.obj);
                    this.allSetting = new AllSetting(msg.obj);
                    this.saveBtnDisable = true;
                }
            },
            async updateAllSetting() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/update", this.allSetting);
                this.loading(false);
                if (msg.success) {
                    await this.getAllSetting();
                }
            },
            async updateUser() {
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/updateUser", this.user);
                this.loading(false);
                if (msg.success) {
                    this.user = {};
                }
            },
            async restartPanel() {
                await new Promise(resolve => {
                    this.$confirm({
                        title: 'Reiniciar panel',
                        content: 'Está seguro de que desea reiniciar el panel? Haga clic en Aceptar para reiniciar, si no puede acceder al panel después de reiniciar; vaya al servidor para ver la información de registro del panel.',
                        okText: 'Si',
                        cancelText: 'Cancelar',
                        onOk: () => resolve(),
                    });
                });
                this.loading(true);
                const msg = await HttpUtil.post("/xui/setting/restartPanel");
                this.loading(false);
                if (msg.success) {
                    this.loading(true);
                    await PromiseUtil.sleep(5000);
                    location.reload();
                }
            }
        },
        async mounted() {
            await this.getAllSetting();
            while (true) {
                await PromiseUtil.sleep(1000);
                this.saveBtnDisable = this.oldAllSetting.equals(this.allSetting);
            }
        },
    });

</script>
</body>
</html>